# Server
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=your_conection_string

# JWT Secrets
ACCESS_TOKEN_SECRET=256 or 512 bytes hash
REFRESH_TOKEN_SECRET=256 or 512 bytes hash

# Email (SendGrid)
SENDGRID_API_KEY=sendgrid_api_key
FROM_EMAIL=noreply.momentumiq@gmail.com

# Scoring Constants
LOGIN_WEIGHT=0.3 || any weight you wanna use
ASSIGNMENT_WEIGHT=0.4 || any weight you wanna use
ACTIVITY_WEIGHT=0.3 || any weight you wanna use
AT_RISK_THRESHOLD=40 || any weight you wanna use
DISENGAGED_THRESHOLD=20 || any weight you wanna use